@import url(https://fonts.googleapis.com/css?family=Anton);

body {
	text-align: Left;
	font-size: 16px;
	background-image: url(../images/main_banner.jpg);
	background-size: cover;
	background-color: #fff;
	background-position: center;
	background-repeat:no-repeat;
	padding: 20px;
}

h1 {
	font-family: 'Anton', sans-serif;
	text-transform: lowercase;
	color: white;
	font-size: 64px;
}

h2 {
	color: white;
	font-size: 26px;
	font-family: "Interstate Condensed", sans-serif;
}

p {
	font-family: "Interstate Condensed", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	align-content: center;
	color: white;
}
	
.style {
	width: 40%;
}
	
.styleButton {
	  padding: 9px 29px;
	  margin-top: 3px;
	  color: #FFAA00;
	  font-family: "Interstate Condensed", sans-serif;
	  border: 2px solid #FFAA00;
	  border-radius: 4px;
	  text-transform: uppercase;
	  background-color: transparent;
	  letter-spacing: 1px;
}

.styleButton2 {
	  padding: 9px 29px;
	  margin-top: 3px;
	  color: #ffffff;
	  font-family: "Interstate Condensed", sans-serif;
	  border: 2px solid #ffffff;
	  border-radius: 4px;
	  text-transform: uppercase;
	  background-color: transparent;
	  letter-spacing: 1px;
}

