nav {
    padding: 0;
    background-color: rgba(255, 255, 255, .8);
}

aside {
    padding: 1em;
}

footer {
    background-color: rgba(255, 255, 255, 1);
    font-size: 1em;
    padding: 0;
    width: 100%;
    height: 150px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("https://mettakitchen.files.wordpress.com/2015/05/mohinga-71.jpg?w=1352&h=902");
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.5;
    font-size: 1em;
    margin: 0px;
    background-attachment: fixed;
    background-position: center center;
}

h1, h2, p {
    -webkit-margin-before: 0;
}

h1 {
    text-transform: lowercase;
    color: #4e164b;
    font-size: 3.5em;
    line-height: 1.4em;
    margin: 0;
}

h2 {
    color: #444;
    font-size: 1.3em;
    line-height: 1.1em;
    font-weight: bold;
    padding: 0;
}

h3 {
    font-size: 2em;
    line-height: 1.2em
    color: #444;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    align-content: center;
    color: #444;
}

ul.list {
    text-align: right;
}

ul.list li {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 1em 1.5em;
    overflow: hidden;
    display: inline-block;
    text-align: right;
}

ul.list li a{
    text-decoration: none;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

a[href^="tel:"] {
    text-decoration: none;
}

.no-touch a[href^="tel:"] {
    pointer-events: none;
    cursor: text;
}

#text {
    padding: 2em;
    width: 40%;
    display: inline-block;
}

#text2 {
    padding: 2em;
    width: 40%;
    display:inline-block;
}

#two_column {
    padding: 1em 3em;
    background-color: #fff;
}

#left {
    width: 45%;
    display:inline-block;
    vertical-align: top;
    height: 90px;
    text-align: left;
    line-height: 1em;
}

#left2 {
    display:inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 1em;
    position: relative;
}

#right {
    width: 45%;
    display:inline-block;
    vertical-align: top;
    height: 80px;
    text-align: left;
    line-height: 1em;
}

#right2 {
    display:inline-block;
    vertical-align: top;
   /* height: 80px;*/
    text-align: left;
    line-height: 1em;
    position: relative;
}

#index_footer {
    bottom: 0px;
    position: absolute;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.floatleft {
    float: left;
    margin: 0;
    width: 200px;
}

.clear {
    clear: both;
}

.gray {
    color: #444;
}

.orange {
    color: #ff7a00;
}

.white {
    color: #fff;
}

.purple {
    color: #4e164b;
}

.description {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
}

.description2 {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    vertical-align: top;
}


@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    #column1, #column2 {
        float: none;
        width: auto;
    }

    h1, h2 {
        text-align: left;
    }

    nav a {
        display: block;
        text-align: center;
        margin: 0;
    }
    #text {
        padding: 0em;
        width: 100%;
    }

    #text2 {
        padding: 0em;
        width: 100%;
    }

    ul.list li {
        display:block;
        margin: 1em 0em;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 13px;
    }

    #wrapper {
        width: 100%;
    }

    #thumbnails, #column1 {
        display: none;
    }
}